@import url("./reset.css");

:root {
  --key-color: #3d4b65;
  --primary-background-color: #f5f6fa;
  --secondary-background-color: #fbfbfc;
  --primary-border-color: #dfe2f1;
  --secondary-font-color: #fbfbfc;
  --primary-font-family: "Noto Sans JP", sans-serif;
  --secondary-font-family: "Bebas Neue", sans-serif;
  --btn-hover-background-color: #eef0fa;
  --btn-border-color: #fff;
  --btn-hover-border-color: #fafbff;
}

body {
  background-color: var(--primary-background-color);
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 188px;
  height: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.sidebar-title {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  background-color: var(--key-color);
  color: var(--secondary-font-color);
}

.sidebar-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  padding: 20px 15px;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 158px;
  height: 50px;
  background: transparent;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  padding: 15px;
}

.sidebar-btn-icon {
  width: 14px;
  height: 14px;
}

.sidebar-btn:hover {
  background-color: var(--btn-hover-background-color);
  border-radius: 25px;
  cursor: pointer;
}

.sidebar-btn.active {
  background-color: var(--key-color);
  border-radius: 25px;
  color: var(--secondary-font-color);
}

.sidebar .sidebar-btn.active img {
  filter: brightness(0) invert(1);
}

.main-content {
  margin-left: 188px;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  position: fixed;
  left: 188px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 188px);
  height: 70px;
  background-color: var(--primary-background-color);
  border-bottom: 1px solid var(--primary-border-color);
}

.navbar-left-content {
  display: flex;
}

.navbar-back-btn,
.navbar-forward-btn {
  width: 70px;
  height: 70px;
  border-right: 1px solid var(--primary-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar-right-content {
  display: flex;
  gap: 15px;
}

.navbar-tips-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--btn-border-color);
  outline-offset: -1px;
}

.navbar-tips-btn:hover {
  background-color: var(--btn-hover-background-color);
  cursor: pointer;
  outline: 1px solid var(--btn-hover-border-color);
  outline-offset: -1px;
}

.navbar-user-btn {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--secondary-background-color);
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  outline: 1px solid var(--btn-border-color);
  outline-offset: -1px;
}

.navbar-user-btn img {
  width: 10px;
  height: 8px;
  margin-top: 3px;
}

.navbar-user-btn:hover {
  background-color: var(--btn-hover-background-color);
  cursor: pointer;
  outline: 1px solid var(--btn-hover-border-color);
  outline-offset: -1px;
}

.content-area {
  width: 100%;
  padding: 20px 25px;
  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow-y: auto;
}

.breadcrumb {
  width: 100%;
}

.breadcrumb-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
}

.menu-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.menu-btn {
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-weight: 500;
  outline: 1px solid var(--btn-border-color);
  outline-offset: -1px;
  box-shadow: 0px 4px 10px 0px rgba(61, 75, 101, 0.08);
}

.menu-btn:hover {
  background-color: var(--btn-hover-background-color);
  cursor: pointer;
  outline: 1px solid var(--btn-hover-border-color);
  outline-offset: -1px;
}

.menu-btn img {
  width: 20px;
  height: 23px;
}

.menu-large-btns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.menu-large-btn {
  width: 100%;
  height: 200px;
  font-size: 45px;
  grid-column: span 6;
}

.menu-medium-btns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.menu-medium-btn {
  width: 100%;
  height: 200px;
  font-size: 34px;
  grid-column: span 4;
}

.menu-small-btns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.menu-small-btn {
  width: 188px;
  height: 150px;
  font-size: 20px;
  grid-column: span 1;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-small-btns {
    grid-template-columns: repeat(2, 188px);
  }

  .menu-small-btn {
    width: 188px;
    grid-column: auto;
  }
}

@media (max-width: 767px) {
  .menu-small-btns {
    grid-template-columns: repeat(1, 188px);
  }

  .menu-small-btn {
    width: 188px;
    grid-column: auto;
  }
}
