:root {
  --key-color: #3d4b65;
  --key-color-hover: #253451;
  --primary-background-color: #f5f6fa;
  --secondary-background-color: #fbfbfc;
  --submit-btn-background-color: #269c85;
  --submit-btn-hover-background-color: #098169;
  --primary-border-color: #dfe2f1;
  --input-border-color: #c2c6cf;
  --secondary-font-color: #fbfbfc;
  --primary-font-family: "Noto Sans JP", sans-serif;
  --secondary-font-family: "Bebas Neue", sans-serif;
  --btn-hover-background-color: #eef0fa;
  --btn-border-color: #fff;
  --colored-btn-text-color: #fbfbfc;
  --btn-hover-border-color: #fafbff;
  --sidebar-width: 188px;
  --attention-color: #ad2c2e;
  --placeholder-color: #a7a7a7;
}

body {
  background-color: var(--primary-background-color);
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.border-top {
  border-top: 1px solid var(--primary-border-color) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--primary-border-color) !important;
}

.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.sidebar-title {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  background-color: var(--key-color);
  color: var(--secondary-font-color);
}

.sidebar-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  padding: 20px 15px;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 158px;
  height: 50px;
  background: transparent;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  padding: 15px;
  transition: background-color 150ms ease-in-out;
  border-radius: 25px;

  &:hover {
    background-color: var(--btn-hover-background-color);
    cursor: pointer;
  }
}

.sidebar-btn-icon {
  width: 14px;
  height: 14px;
}

.sidebar-btn.active {
  background-color: var(--key-color);
  border-radius: 25px;
  color: var(--secondary-font-color);
}

.sidebar .sidebar-btn.active img {
  filter: brightness(0) invert(1);
}

.main-content {
  margin-left: var(--sidebar-width);
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  position: fixed;
  left: var(--sidebar-width);
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - var(--sidebar-width));
  height: 70px;
  background-color: var(--primary-background-color);
}

.navbar-left-content {
  display: flex;
}

.navbar-back-btn,
.navbar-forward-btn {
  width: 70px;
  height: 70px;
  border-right: 1px solid var(--primary-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar-right-content {
  display: flex;
  gap: 15px;
}

.navbar-tips-btn {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid var(--btn-border-color);
  outline-offset: -1px;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
    cursor: pointer;
    outline: 1px solid var(--btn-hover-border-color);
    outline-offset: -1px;
  }
}

.navbar-user-btn {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--secondary-background-color);
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  outline: 1px solid var(--btn-border-color);
  outline-offset: -1px;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
    cursor: pointer;
    outline: 1px solid var(--btn-hover-border-color);
    outline-offset: -1px;
  }
}

.navbar-user-btn img {
  width: 10px;
  height: 8px;
  margin-top: 3px;
}

.content-area {
  width: 100%;
  padding: 20px 25px;
  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  position: relative;
  flex-direction: column;
  padding-bottom: 90px;
}

.content-area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumb-link {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
}

.primary-btn {
  height: 40px;
  width: fit-content;
  color: var(--colored-btn-text-color);
  font-family: var(--primary-font-family);
  background-color: var(--key-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 23px;
  border-radius: 5px;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--key-color-hover);
    cursor: pointer;
  }
}

.menu-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
}

.menu-btn {
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-weight: 500;
  outline: 1px solid var(--btn-border-color);
  outline-offset: -1px;
  box-shadow: 0px 4px 10px 0px rgba(61, 75, 101, 0.08);
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
    cursor: pointer;
    outline: 1px solid var(--btn-hover-border-color);
    outline-offset: -1px;
  }
}

.menu-btn img {
  width: 20px;
  height: 23px;
}

.menu-large-btns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.menu-large-btn {
  width: 100%;
  height: 200px;
  font-size: 45px;
  grid-column: span 6;
}

.menu-medium-btns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.menu-medium-btn {
  width: 100%;
  height: 200px;
  font-size: 34px;
  grid-column: span 4;
}

.menu-small-btns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.menu-small-btn {
  width: 188px;
  height: 150px;
  font-size: 20px;
  grid-column: span 1;
}

.product-management-menu-btns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.product-management-manu-btn {
  width: 100%;
  height: 250px;
  grid-column: span 4;
  font-size: 34px;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
}

.input-container {
  position: relative;
  flex: 1;
}

.input-container label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  position: absolute;
  top: -10px;
  left: 14px;
  z-index: 2;
  background-color: var(--primary-background-color);
  padding: 0 5px;
}

.input-container label img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

input:disabled {
  background-color: var(--primary-background-color) !important;
  cursor: not-allowed;
}

.input-container input[type="text"],
.form-category input[type="text"],
.input-container input[type="number"] {
  width: 100%;
  height: 64px;
  border: 1px solid var(--input-border-color);
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 20px;
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:focus {
    outline: none;
    border: 2px solid var(--key-color);
    background-color: var(--secondary-background-color) !important;
  }
}

.input-container .number-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-container input[type="number"] {
  padding-right: 80px;
  box-sizing: border-box;
}

.input-container input[type="number"]::-webkit-inner-spin-button,
.input-container input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-container .number-stepper {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 6px;
}

.input-container .number-stepper button {
  width: 40px;
  height: 40px;
  background: var(--key-color);
  color: var(--colored-btn-text-color);
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  &:hover {
    background-color: var(--key-color-hover);
  }
}

.input-container input::placeholder {
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--placeholder-color);
}

.input-container select {
  width: 100%;
  height: 64px;
  border: 1px solid var(--input-border-color);
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 20px;
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  position: relative;
  background-image: url("/images/select-pulldown-icon.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 40px 40px;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:focus {
    outline: none;
    border: 2px solid var(--key-color);
    background-color: var(--secondary-background-color) !important;
  }

  &:invalid {
    color: var(--placeholder-color);
  }
}

.input-required {
  color: var(--attention-color);
}

.form-categories {
  margin-top: 40px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 25px;
}

.form-category:last-child {
  border-bottom: none;
}

:not(.form-categories) > .form-category {
  margin-top: 25px;
}

.form-category label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.form-category label img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.form-category-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-details {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
}

.form-details-label-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-details-label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.form-details-toggle-link {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: underline;
  cursor: pointer;
}

.form-details-tax-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0;
}

.form-radio-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.form-radio-container label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-left: 12px;
}

.form-radio-container input[type="radio"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid var(--input-border-color);
  border-radius: 50%;
  background-color: var(--secondary-background-color);
  position: relative;
  transition: 0.3s all ease-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:hover + .switch-slider {
    background-color: var(--btn-hover-background-color);
  }
}

.form-radio-container input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--key-color);
  position: absolute;
  top: 4px;
  left: 4px;
}

.form-switch-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-switch {
  position: relative;
  width: 57px;
  height: 30px;
  cursor: pointer;
}

.form-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--input-border-color);
  transition: background-color 150ms ease-in-out;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 3px;
  background-color: var(--input-border-color);
  transition: 0.5s;
  border-radius: 50%;
}

.form-switch input[type="checkbox"]:hover + .switch-slider {
  background-color: var(--btn-hover-background-color);
}

.form-switch input[type="checkbox"]:checked:hover + .switch-slider {
  background-color: var(--key-color-hover);
}

.form-switch input[type="checkbox"]:checked + .switch-slider {
  background-color: var(--key-color);
}

.form-switch input[type="checkbox"]:checked + .switch-slider:before {
  background-color: var(--secondary-background-color);
  transform: translateX(25px);
}

.form-switch-container label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.form-multi-lang-inputs {
  display: none;
  flex-direction: column;
  gap: 30px;
}

.input-checkbox-hierarchy {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
}

.input-checkbox-child {
  margin-left: 45px;

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 15px;
    width: 20px;
    height: 30px;
    border-left: 1px solid var(--input-border-color);
    border-bottom: 1px solid var(--input-border-color);
  }
}

.input-checkbox-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-checkbox-container input[type="checkbox"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  background-color: var(--secondary-background-color);
  position: relative;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:checked {
    background-color: var(--key-color);
  }

  &:checked:hover {
    background-color: var(--key-color-hover);
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/images/check-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:checked::after {
    display: block;
    width: 18px;
    height: 13.5px;
  }
}

.input-checkbox-container label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.input-checkbox-container label img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.form-footer {
  width: calc(100% - var(--sidebar-width));
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  background-color: var(--primary-background-color);
  position: fixed;
  bottom: 0;
  left: 188px;
  right: 0;
  z-index: 20;
}

.form-footer-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  gap: 15px;
  border-right: 1px solid var(--primary-border-color);
  height: 100%;
  margin-left: 25px;
}

.form-footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--submit-btn-background-color);
  color: var(--colored-btn-text-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--submit-btn-hover-background-color);
    cursor: pointer;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
}

.product-registration-list {
  margin-top: 20px;
}

.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.list-label-code,
.list-value-code {
  width: calc(100% / 3);
  text-align: left;
}

.list-label-name,
.list-value-name {
  width: calc(100% / 3);
  text-align: center;
}

.list-label-action,
.list-value-action {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
}

.list-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-body-row {
  width: 100%;
  display: flex;
  align-items: center;
  height: 72px;
  border-radius: 15px;
  border: 1px solid var(--btn-border-color);
  background-color: var(--secondary-background-color);
  padding: 24.5px 20px;
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  box-shadow: 0px 4px 4px 0px rgba(61, 75, 101, 0.08);
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
    cursor: pointer;
  }
}

.search {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  padding-bottom: 20px;
}

.search p {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.search-inputs {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.hidden {
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .menu-small-btns {
    grid-template-columns: repeat(2, 188px);
  }

  .menu-small-btn {
    width: 188px;
    grid-column: auto;
  }
}

@media (max-width: 767px) {
  .menu-small-btns {
    grid-template-columns: repeat(1, 188px);
  }

  .menu-small-btn {
    width: 188px;
    grid-column: auto;
  }
}
