:root {
  --key-color: #3d4b65;
  --key-color-hover: #253451;
  --primary-background-color: #f5f6fa;
  --secondary-background-color: #fbfbfc;
  --accent-color: #269c85;
  --accent-color-hover: #098169;
  --primary-border-color: #dfe2f1;
  --input-border-color: #c2c6cf;
  --secondary-font-color: #fbfbfc;
  --primary-font-family: "Noto Sans JP", sans-serif;
  --secondary-font-family: "Bebas Neue", sans-serif;
  --btn-hover-background-color: #eef0fa;
  --btn-border-color: #fff;
  --colored-btn-text-color: #fbfbfc;
  --btn-hover-border-color: #fafbff;
  --sidebar-width: 188px;
  --attention-color: #ad2c2e;
  --attention-color-hover: #931114;
  --placeholder-color: #a7a7a7;
  --box-shadow: 0px 4px 10px 0px rgba(61, 75, 101, 0.08);
  --box-shadow-row: 0px 4px 4px 0px rgba(61, 75, 101, 0.08);
}

body {
  background-color: var(--primary-background-color);
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.border-top {
  border-top: 1px solid var(--primary-border-color) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--primary-border-color) !important;
}

.vertical-separator-line {
  width: 1px;
  min-height: 40px;
  height: 100%;
  background-color: var(--primary-border-color);
}

.sidebar {
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 70px;
  transition: opacity 300ms ease-out;
  overflow-y: auto;
}

.sidebar-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
  padding: 20px 15px;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 158px;
  height: 50px;
  background: transparent;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  padding: 15px;
  transition: background-color 150ms ease-out;
  border-radius: 25px;

  &:hover {
    background-color: var(--btn-hover-background-color);
    cursor: pointer;
  }
}

.sidebar-btn-icon {
  width: 14px;
  height: 14px;
}

.sidebar-regi-icon,
.sidebar-product-icon,
.sidebar-setting-icon,
.sidebar-guide-icon {
  height: 15px !important;
}

.sidebar-table-icon {
  height: 12px !important;
}

.sidebar-staff-icon {
  height: 10px !important;
}

.sidebar-calc-icon {
  height: 16px !important;
}

.sidebar-btn.active {
  background-color: var(--key-color);
  border-radius: 25px;
  color: var(--secondary-font-color);
}

.sidebar .sidebar-btn.active img {
  filter: brightness(0) invert(1);
}

.main-content {
  margin-left: var(--sidebar-width);
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: var(--primary-background-color);
  z-index: 100;
}

.navbar-left-content {
  display: flex;
}

.site-logo {
  min-height: 70px;
  width: var(--sidebar-width);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font-family);
  font-size: 25px;
  font-weight: 400;
  line-height: 1;
  background-color: var(--key-color);
  color: var(--secondary-font-color);
}

.navbar-back-btn,
.navbar-forward-btn {
  width: 70px;
  height: 70px;
  border-right: 1px solid var(--primary-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    width: 18px;
    height: 16px;
  }

  &:hover {
    background-color: var(--btn-hover-background-color);
  }
}

.navbar-right-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hamburger-btn {
  display: none;
  position: relative;
  width: 70px;
  height: 70px;
  border-left: 1px solid var(--primary-border-color);
  justify-content: center;
  align-items: center;
  cursor: pointer;

  span {
    position: absolute;
    left: 20px;
    width: 30px;
    height: 2px;
    background-color: var(--key-color);
    display: inline-block;
    transition: all 300ms;
    box-sizing: border-box;

    &:nth-of-type(1) {
      top: 25px;
    }

    &:nth-of-type(2) {
      top: 35px;
    }

    &:nth-of-type(3) {
      top: 45px;
    }
  }
}

.hamburger-btn.active {
  span {
    &:nth-of-type(1) {
      transform: translateY(10px) rotate(45deg);
    }

    &:nth-of-type(2) {
      opacity: 0;
    }

    &:nth-of-type(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.hamburger-menu {
  display: none;
}

.user-menu-container {
  position: relative;
  display: inline-block;

  .navbar-user-btn {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--secondary-background-color);
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--key-color);
    font-family: var(--primary-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
    outline: 1px solid var(--btn-border-color);
    outline-offset: -1px;
    transition: background-color 150ms ease-out;

    img {
      width: 10px;
      height: 8px;
      margin-top: 3px;
    }

    &:hover {
      background-color: var(--btn-hover-background-color);
      cursor: pointer;
      outline: 1px solid var(--btn-hover-border-color);
      outline-offset: -1px;
    }
  }

  .menu-toggle {
    display: none;
  }

  .dropdown-menu {
    position: absolute;
    top: calc(100% + 10px);
    width: 142px;
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    font-family: var(--primary-font-family);
    color: var(--key-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    outline: 1px solid var(--primary-border-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 150ms ease-out;
  }

  .menu-toggle:checked ~ .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto;
  }

  .dropdown-item {
    padding: 10px;
    transition: background-color 150ms ease-out;

    &:hover {
      background-color: var(--btn-hover-background-color);
      cursor: pointer;
    }
  }
}

.content-area {
  width: 100%;
  padding: 20px 25px 90px 25px;
  margin-top: 70px;
  height: calc(100vh - 70px);
  overflow-y: auto;
  position: relative;
  flex-direction: column;
}

.content-area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumb-link {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 10px;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
}

.breadcrumb-arrow {
  width: 5.6px;
  height: 10px;
}

.primary-btn {
  height: 40px;
  width: fit-content;
  color: var(--colored-btn-text-color);
  font-family: var(--primary-font-family);
  background-color: var(--key-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 23px;
  border-radius: 5px;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: var(--key-color-hover);
  }
}

.attention-btn {
  height: 40px;
  width: fit-content;
  color: var(--colored-btn-text-color);
  font-family: var(--primary-font-family);
  background-color: var(--attention-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 23px;
  border-radius: 5px;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: var(--attention-color-hover);
  }
}

.accent-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  border-radius: 5px;
  padding: 12px 23px;
  background-color: var(--accent-color);
  color: var(--colored-btn-text-color);
  font-family: var(--primary-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: var(--accent-color-hover);
    cursor: pointer;
  }
}

.menu-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
}

.menu-btn {
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 20px;
  color: var(--key-color);
  font-family: var(--primary-font-family);
  font-weight: 500;
  outline: 1px solid var(--btn-border-color);
  outline-offset: -1px;
  box-shadow: var(--box-shadow);
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
    cursor: pointer;
    outline: 1px solid var(--btn-hover-border-color);
    outline-offset: -1px;
  }
}

.menu-btn img {
  width: 20px;
  height: 21px;
}

.menu-btn-store-info-icon,
.menu-btn-forms-icon {
  height: 20px !important;
}

.menu-btn-table-icon {
  height: 17px !important;
}

.menu-btn-staff-icon {
  height: 14px !important;
}

.menu-btn-calc-icon,
.menu-btn-subject-icon,
.menu-btn-department-icon,
.menu-btn-menu-pattern-icon {
  height: 23px !important;
}

.menu-btn-product-registar-icon {
  height: 19px !important;
}

.menu-btn-comment-icon {
  height: 18px !important;
}

.menu-large-btns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.menu-large-btn {
  width: 100%;
  height: 30vh;
  min-height: 200px;
  max-height: 300px;
  font-size: 45px;
  grid-column: span 1;
}

.menu-medium-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.menu-medium-btn {
  width: 100%;
  height: 30vh;
  min-height: 200px;
  max-height: 250px;
  font-size: 34px;
  grid-column: span 1;
}

.menu-small-btns {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.menu-small-btn {
  width: 188px;
  height: 150px;
  font-size: 20px;
}

.product-management-menu-btns {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin: 40px 0;
}

.product-management-manu-btn {
  grid-column: span 4;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0;
}

.input-container {
  position: relative;
  flex: 1;
}

.input-container > .input-label-container {
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 2;
  background-color: var(--primary-background-color);
  padding: 0 5px;
  position: absolute;
  top: -10px;
  left: 14px;

  label {
    font-family: var(--primary-font-family);
    color: var(--key-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

.input-container label img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

input:disabled {
  background-color: var(--primary-background-color) !important;
  cursor: not-allowed;
}

.input-container input[type="text"],
.input-container input[type="time"],
.input-category input[type="text"],
.input-container input[type="number"] {
  width: 100%;
  height: 64px;
  border: 1px solid var(--input-border-color);
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 20px;
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:focus {
    outline: none;
    border: 2px solid var(--key-color);
    background-color: var(--secondary-background-color) !important;
  }

  &::placeholder {
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    color: var(--placeholder-color);
  }
}

.input-container textarea {
  width: 100%;
  border: 1px solid var(--input-border-color);
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 20px;
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:focus {
    outline: none;
    border: 2px solid var(--key-color);
    background-color: var(--secondary-background-color) !important;
  }
}

.input-container .number-input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.input-container input[type="number"] {
  padding-right: 80px;
  box-sizing: border-box;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input-container .number-stepper {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 6px;
}

.input-container .number-stepper button {
  width: 40px;
  height: 40px;
  background: var(--key-color);
  color: var(--colored-btn-text-color);
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  &:hover {
    background-color: var(--key-color-hover);
  }
}

.input-select-container {
  position: relative;
  display: inline-block;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    pointer-events: none;
    background-color: var(--key-color);
    background-image: url("/images/select-pulldown-icon.png");
    background-repeat: no-repeat;
    background-position: center 55%;
    background-size: 10px 8px;
    transition: background-color 150ms ease-out;
  }

  &:hover::after {
    background-color: var(--key-color-hover);
  }
}

.input-container select {
  width: 100%;
  height: 64px;
  border: 1px solid var(--input-border-color);
  background-color: var(--secondary-background-color);
  border-radius: 15px;
  padding: 20px 60px 20px 20px;
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  position: relative;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:focus {
    outline: none;
    border: 2px solid var(--key-color);
    background-color: var(--secondary-background-color) !important;
  }

  &:invalid {
    color: var(--placeholder-color);
  }
}

.input-required {
  color: var(--attention-color);
}

.input-categories {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 25px;
}

.input-category:last-child {
  border-bottom: none;
}

:not(.input-categories) > .input-category {
  margin-top: 25px;
}

.input-category > .input-label-container {
  display: flex;
  align-items: center;
  gap: 4px;
  z-index: 2;
  background-color: var(--primary-background-color);
  position: inherit;

  label {
    font-family: var(--primary-font-family);
    color: var(--key-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
  }

  img {
    width: 16px;
    height: 16px;
  }
}

.input-multi-lang-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-details {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
}

.input-details-label-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.input-details-label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.input-details-toggle-link {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.input-details-content {
  overflow: hidden;
  transition: none;
}

.input-details-content.fade-in {
  animation: inputFieldFadeIn 0.3s ease-out forwards;
  display: block !important;
}

.input-details-content.fade-out {
  animation: inputFieldFadeOut 0.3s ease-out forwards;
  display: block !important;
}

.input-details-content.hidden {
  display: none !important;
}

.input-details-tax-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0;
}

.input-radio-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.input-radio-container label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  margin-left: 12px;
}

.input-radio-container input[type="radio"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid var(--input-border-color);
  border-radius: 50%;
  background-color: var(--secondary-background-color);
  position: relative;
  transition: 0.3s all ease-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:hover + .switch-slider {
    background-color: var(--btn-hover-background-color);
  }

  &:checked::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--key-color);
    position: absolute;
    top: 4px;
    left: 4px;
  }
}

.input-switch-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-switch {
  position: relative;
  width: 57px;
  height: 30px;
  cursor: pointer;
}

.input-switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .switch-slider {
    background-color: var(--key-color);
  }

  &:checked + .switch-slider:before {
    background-color: var(--secondary-background-color);
    transform: translateX(25px);
  }

  &:hover + .switch-slider {
    background-color: var(--btn-hover-background-color);
  }

  &:hover:checked + .switch-slider {
    background-color: var(--key-color-hover);
  }
}

.switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--input-border-color);
  transition: background-color 150ms ease-out;

  &::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: var(--input-border-color);
    transition: 0.5s;
    border-radius: 50%;
  }
}

.input-switch-container label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.multi-lang-input-container {
  display: none;
  flex-direction: column;
  gap: 30px;
}

.input-with-btn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-with-note {
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-family: var(--primary-font-family);
    color: var(--key-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.25;
  }
}

.input-hierarchy {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-hierarchy-children {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 45px;

  .input-hierarchy-child {
    margin-left: 0;
    position: relative;

    &:first-child:before {
      content: "";
      position: absolute;
      left: -30px;
      bottom: 50%;
      width: 20px;
      height: 30px;
      border-left: 1px solid var(--input-border-color);
      border-bottom: 1px solid var(--input-border-color);
    }

    &:not(:first-child)::before {
      display: none;
    }
  }
}

.input-hierarchy-children-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 45px;

  .input-hierarchy-child-checkbox {
    margin-left: 0;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      left: -30px;
      bottom: 50%;
      width: 20px;
      height: 30px;
      border-left: 1px solid var(--input-border-color);
      border-bottom: 1px solid var(--input-border-color);
    }

    &:not(:first-child)::before {
      height: 45px;
    }
  }
}

.input-hierarchy-child {
  margin-left: 45px;
  position: relative;

  &:has(input[type="checkbox"])::before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 50%;
    width: 20px;
    height: 30px;
    border-left: 1px solid var(--input-border-color);
    border-bottom: 1px solid var(--input-border-color);
  }

  &:has(input[type="text"])::before {
    content: "";
    position: absolute;
    left: -30px;
    bottom: 50%;
    width: 20px;
    height: 47px;
    border-left: 1px solid var(--input-border-color);
    border-bottom: 1px solid var(--input-border-color);
  }
}

.input-checkbox-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.input-checkbox-container input[type="checkbox"] {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  background-color: var(--secondary-background-color);
  position: relative;
  transition: background-color 150ms ease-out;

  &:hover {
    background-color: var(--btn-hover-background-color);
  }

  &:checked {
    background-color: var(--key-color);
  }

  &:checked:hover {
    background-color: var(--key-color-hover);
  }

  &:checked::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url("/images/check-icon.png");
    background-size: contain;
    background-position: center;
    width: 18px;
    height: 13.5px;
  }
}

.input-checkbox-container label {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.input-checkbox-container label img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.footer {
  width: calc(100% - var(--sidebar-width));
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  background-color: var(--primary-background-color);
  position: fixed;
  bottom: 0;
  left: var(--sidebar-width);
  right: 0;
  z-index: 20;
}

.footer-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  gap: 15px;
  border-right: 1px solid var(--primary-border-color);
  height: 100%;
  margin-left: 25px;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 15px 25px;

  .accent-btn {
    width: 120px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0;
}

.product-registration-list {
  margin-top: 20px;
}

.list-header {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.list-label-code,
.list-value-code {
  width: calc(100% / 3);
  text-align: left;
}

.list-label-name,
.list-value-name {
  width: calc(100% / 3);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.list-label-action,
.list-value-action {
  width: calc(100% / 3);
  display: flex;
  justify-content: flex-end;
}

.list-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-body-row {
  width: 100%;
  display: flex;
  align-items: center;
  height: 72px;
  border-radius: 15px;
  border: 1px solid var(--btn-border-color);
  background-color: var(--secondary-background-color);
  padding: 24.5px 20px;
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  box-shadow: var(--box-shadow-row);
  transition: background-color 150ms ease-out;
  overflow: hidden;

  &:hover {
    background-color: var(--btn-hover-background-color);
    cursor: pointer;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  padding: 20px 0;
  border-bottom: 1px solid var(--primary-border-color);
}

tbody {
  border-top: 1px solid var(--primary-border-color);
}

td {
  padding: 20px 10px;
  border-bottom: 1px solid var(--primary-border-color);
  vertical-align: middle;

  &:last-child {
    padding-right: 0;
  }
}

.table-text {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  min-width: 50px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.search {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
  padding-bottom: 20px;
}

.search p {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.hidden {
  max-height: 0 !important;
  opacity: 0 !important;
}

.input-container-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.vertical-input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vertical-input-container p {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  display: flex;
  align-items: center;
}

.vertical-input-container p img {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.vertical-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.time-selection-input-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.time-selection-input {
  grid-column: span 3;
}

.weekdays-checkbox-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.weekdays-checkbox {
  grid-column: span 1;
  min-width: 132px;
}

.service-usage-time-input-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.table-management-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 40px 0;
}

.area-layout-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 0;
  margin-top: 25px;
  gap: 25px;
}

.area-layout-input-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 4;
}

.area-layout-input-container-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.area-layout-grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 6;
  background-image: url("/images/area-layout-grid.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 617px;
  height: 617px;
}

.area-layout-reset-btn {
  flex: 1;
  padding: 12px;
}

.area-layout-apply-btn {
  flex: 2;
}

.area-layout-shape-container {
  position: relative;
  display: inline-block;
}

.area-layout-shape {
  font-family: var(--primary-font-family);
  color: var(--key-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.25;
  background-color: var(--secondary-background-color);
  border: 1px solid var(--input-border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selected-area-layout-shape {
  position: absolute;
  border: 1px solid var(--accent-color);
  border-radius: 0;
  display: none;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
}

.area-layout-ellipse {
  width: 300px;
  height: 150px;
  border-radius: 84px;
}

.selected-area-layout-shape.active {
  display: block;
}

.corner-handle {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: var(--secondary-background-color);
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  box-sizing: border-box;
}

.edge-handle {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: var(--secondary-background-color);
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  box-sizing: border-box;
}

.corner-handle.top-left {
  top: -9px;
  left: -9px;
}

.corner-handle.top-right {
  top: -9px;
  right: -9px;
}

.corner-handle.bottom-left {
  bottom: -9px;
  left: -9px;
}

.corner-handle.bottom-right {
  bottom: -9px;
  right: -9px;
}

.edge-handle.top {
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.edge-handle.bottom {
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}

.edge-handle.left {
  left: -9px;
  top: 50%;
  transform: translateY(-50%);
}

.edge-handle.right {
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
}

dialog.closing {
  animation: backdropFadeOut 150ms ease-out;
}

dialog::backdrop {
  background-color: var(--key-color-hover);
  opacity: 0.95;
  animation: backdropFadeIn 150ms ease-in;
}

.tab-container {
  margin-top: 47px;
  margin-left: -25px;
  margin-right: -25px;

  .tab-list {
    display: flex;
    gap: 50px;
    list-style: none;
    border-bottom: 1px solid var(--key-color);

    .tab-button {
      &:first-child {
        margin-left: 50px;
      }

      &:last-child {
        margin-right: 50px;
      }

      button {
        position: relative;
        width: fit-content;
        height: 45px;
        padding: 14.5px 10px;
        background-color: var(--secondary-background-color);
        font-family: var(--primary-font-family);
        color: var(--key-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
        transition: background-color 150ms ease-out;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: -25px;
          width: 25px;
          height: 45px;
          background-color: var(--secondary-background-color);
          transition: background-color 150ms ease-out;
          clip-path: path("M25 46H0L11.15 11.5375C13.48 4.55 18.94 0 25 0V46Z");
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: -25px;
          width: 25px;
          height: 45px;
          background-color: var(--secondary-background-color);
          transition: background-color 150ms ease-out;
          clip-path: path("M0 46H25L13.85 11.5375C11.52 4.55 6.06 0 0 0V46Z");
        }

        &:hover {
          background-color: var(--btn-hover-background-color);

          &::before,
          &::after {
            background-color: var(--btn-hover-background-color);
          }
        }
      }
    }

    .tab-button.active button {
      background-color: var(--key-color);
      color: var(--secondary-background-color);

      &::before,
      &::after {
        background-color: var(--key-color);
      }
    }
  }

  .tab-content {
    padding: 40px 25px;
    width: 100%;

    .tab-panel {
      display: none;
    }

    .tab-panel.active {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 60px;

      .input-hierarchy {
        gap: 30px;

        .input-hierarchy-child {
          margin-left: 40px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: -30px;
            bottom: 50%;
            width: 20px;
            height: 52px;
            border-left: 1px solid var(--input-border-color);
            border-bottom: 1px solid var(--input-border-color);
          }

          &:nth-child(3) {
            margin-left: 80px;
          }
        }
      }

      .registered-menu-container,
      .registerable-menu-container {
        flex: 1;
        padding-top: 20px;
        padding-bottom: 20px;

        .vertical-input-container {
          gap: 30px;
        }
      }

      .registerable-menu-container {
        padding-left: 30px;
        padding-right: 30px;
        border: 1px solid var(--primary-border-color);
        border-radius: 15px;
        background-color: rgba(194, 198, 207, 0.1);
      }

      table {
        tbody {
          tr {
            transition: background-color 300ms ease-out;

            &:hover {
              background-color: var(--btn-hover-background-color);
              cursor: pointer;
            }
          }

          tr.selected {
            transition: background-color 300ms ease-out, box-shadow 300ms ease-out;
            box-shadow: var(--box-shadow);
            background-color: var(--secondary-background-color);
            z-index: 10;
          }

          td {
            padding: 10px 10px;
            position: relative;

            &:first-child {
              width: 60px;
            }
          }

          .table-text {
            min-width: 150px;
          }

          img {
            width: 60px;
            height: 60px;
          }

          .arrow-btn {
            position: absolute;
            width: 40px;
            height: 40px;
            background-color: var(--key-color);
            border: none;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 20;
            opacity: 0;
            pointer-events: none;
            transition: opacity 300ms ease-out;

            img {
              width: 16px;
              height: 16px;
            }
          }

          .arrow-btn-visible {
            opacity: 1;
            pointer-events: auto;
          }

          .arrow-up {
            top: -30px;
            left: 0;
            transform: translate(-50%, -50%);
          }

          .arrow-down {
            bottom: -30px;
            left: 0;
            transform: translate(-50%, 50%);
          }

          .arrow-right {
            top: 50%;
            right: -50px;
            transform: translateY(-50%);
          }

          .arrow-left {
            top: 50%;
            left: -50px;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backdropFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#tips-dialog {
  max-width: 70%;
  min-width: 350px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 0;

  .dummy-focusable-content {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  .dialog-header {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: var(--primary-border-color);

    p {
      font-family: var(--primary-font-family);
      color: var(--key-color);
      font-size: 18px;
      font-weight: 500;
      line-height: 1.25;
    }

    .dialog-close-btn {
      img {
        width: 23px;
        height: 23px;
      }
    }
  }

  .dialog-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
    background-color: var(--secondary-background-color);

    .dialog-title {
      font-family: var(--primary-font-family);
      color: var(--key-color);
      font-size: 25px;
      font-weight: 500;
      line-height: 1.25;
      text-align: center;
    }

    p {
      font-family: var(--primary-font-family);
      color: var(--key-color);
      font-size: 16px;
      font-weight: 400;
      line-height: 1.75;
    }

    .dialog-2column {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 30px;

      img {
        flex: 2;
        min-width: 120px;
        min-height: 120px;
      }

      p {
        flex: 8;
      }
    }

    .dialog-img {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .dialog-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    border-top: 1px solid var(--primary-border-color);
    padding: 15px 30px;
    background-color: var(--secondary-background-color);
  }
}

@keyframes inputFieldFadeIn {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 1000px;
  }
}

@keyframes inputFieldFadeOut {
  from {
    opacity: 1;
    max-height: 1000px;
  }
  to {
    opacity: 0;
    max-height: 0;
  }
}

/* @media (min-width: 768px) and (max-width: 1024px) {
  .menu-small-btns {
    grid-template-columns: repeat(2, 188px);
  }

  .menu-small-btn {
    width: 188px;
    grid-column: auto;
  }

  .time-selection-input {
    grid-column: span 6;
  }

  .weekdays-checkbox {
    grid-column: span 3;
  }
} */

@media (max-width: 764px) {
  .sidebar {
    opacity: 0;
    height: 0;
    position: absolute;
    top: 70px;
    left: auto;
    right: 0;
    height: fit-content;
    border-bottom-left-radius: 15px;
    box-shadow: var(--box-shadow);
  }

  .sidebar.active {
    opacity: 1;
    height: auto;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 10;
  }

  .hamburger-btn {
    display: flex;
  }

  .navbar {
    left: 0 !important;
    width: 100% !important;

    .site-logo {
      display: none;
    }
  }

  .main-content {
    width: 100% !important;
    margin-left: 0 !important;
  }

  .content-area {
    padding: 20px 10px 90px 10px;
  }

  .user-menu-container {
    .navbar-user-btn {
      width: 130px;
      margin-right: 0;
    }
  }

  .menu-btns {
    gap: 10px;
    margin: 20px 0;
  }

  .menu-btn {
    padding: 20px;
    gap: 10px;
  }

  .menu-large-btns {
    gap: 10px;
  }

  .menu-large-btn {
    font-size: 26px;
    min-height: 150px;
    height: 150px;
  }

  .menu-medium-btns,
  .product-management-menu-btns {
    gap: 10px;
  }

  .menu-medium-btn {
    font-size: 18px;
    min-height: 150px;
    height: 150px;
  }

  .menu-small-btns {
    gap: 10px;
  }

  .menu-small-btn {
    font-size: 16px;
    height: 120px;
    width: 120px;
  }

  .time-selection-input {
    grid-column: span 12;
  }

  .weekdays-checkbox {
    grid-column: span 6;
  }

  .service-usage-time-input-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .primary-btn,
  .attention-btn,
  .accent-btn {
    padding: 12px 10px;
  }

  .search {
    margin-top: 20px;
  }

  .input-container-row {
    flex-direction: column;
    align-items: flex-start;

    .input-container {
      width: 100%;
    }
  }

  .input-container > .input-label-container {
    left: 10px;

    label {
      font-size: 14px;
    }
  }

  .input-container input[type="text"],
  .input-container input[type="time"],
  .input-category input[type="text"],
  .input-container input[type="number"],
  .input-container select {
    height: 58px;
    font-size: 16px;
    padding: 13px 10px 11px 15px;

    &::placeholder {
      font-size: 16px;
    }
  }

  .input-select-container::after {
    width: 34px;
    height: 34px;
  }

  .list-body-row {
    height: 58px;
    padding: 20px 10px;
    font-size: 16px;
  }

  .footer {
    height: 60px;
    width: 100%;
    left: 0;
  }

  .footer-left {
  }

  .footer-right {
    padding: 10px;
  }

  #tips-dialog {
    .dialog-header {
      padding: 17px 15px;

      p {
        font-size: 16px;
      }
    }

    .dialog-content {
      gap: 20px;
      padding: 15px;

      .dialog-title {
        font-size: 20px;
      }

      p {
        font-size: 14px;
      }

      .dialog-2column {
        gap: 15px;
      }
    }

    .dialog-footer {
      gap: 10px;
      padding: 10px 15px;
    }
  }
}

@media (max-width: 390px) {
  .menu-large-btns {
    grid-template-columns: repeat(1, 1fr);
  }

  .menu-medium-btns {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-medium-btn {
    grid-column: span 1;
    height: auto;
  }

  .menu-small-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .menu-small-btn {
    width: auto;
    height: auto;
  }

  .product-management-menu-btns {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
  }
}
